* {
  box-sizing: border-box;
  font-family: Helvetica;
  font-size: 14px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a {
  color: #0095F5;
  cursor: pointer;
  font-family: Arial;
  font-weight: 700;
}

button, input:focus, select:focus {
  outline: 0 auto -webkit-focus-ring-color;
  outline-offset: 0;
}

.main-content {
  align-items: center;
  display: flex;
  height: 90vh;
  justify-content: center;
  width: 100vw;
}

.box-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.box-account {
  align-items: center;
  border: 1px solid  #dbdbdb;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 10px;
  min-height: 70px;
  padding: 10px 0;
  min-width: 350px;
}

.phone-image {
  height: 630px;
  margin-right: 20px;
}

.instagram-logo {
  margin: 22px auto;
  margin-bottom: 20px;
  width: 175px;
}

.profile-image-box {
  height: 122px;
}

.profile-image {
  border-radius: 50%;
  width: 100px;
}

.profile-btn-box {
  margin: 16px auto;
}

.btn-login {
  background: #0095f6;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-weight: 700;
  height: 30px;
  padding: 5px 15px;
  width: 280px;
}

.switch-account-content {
  margin: 15px 0;
  padding: 0 40px;
}

.get-app {
  margin: 10px 20px;
}

.store-content {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0;
  width: 350px;
}

.store-image {
  height: 40px;
}

.footer-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 5vh;
  justify-content: space-around;
}

.links, .links a {
  align-items: center;
  color: #8e8e8e;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 12px;
  font-weight: 400;
  justify-content: center;
  margin: 0 8px;
}

.languages-content {
  background: white;
  border: none;
  color: #8e8e8e;
  font-size: 12px;
  margin-top: 15px;
  padding: 0 5px;
}

.copyright {
  font-size: 12px;
  margin-left: 20px;
  margin-top: 15px;
}

@media (max-width : 875px) {

  .phone-image {
    display: none;
  }
}